Sort the following string alphabetically, from z to a, and assign it to the variable sorted_letters.

In [0]:
letters = "alwnfiwaksuezlaeiajsdl"
sorted_letters = []
for char in sorted(letters,reverse = True):
    sorted_letters.append(char)

Sort the list below, animals, into alphabetical order, a-z. Save the new list as animals_sorted.

In [0]:

animals = ['elephant', 'cat', 'moose', 'antelope', 'elk', 'rabbit', 'zebra', 'yak', 'salamander', 'deer', 'otter', 'minx', 'giraffe', 'goat', 'cow', 'tiger', 'bear']
animals_sorted = sorted(animals)

The dictionary, medals, shows the medal count for six countries during the Rio Olympics. Sort the country names so they appear alphabetically. Save this list to the variable alphabetical.

In [0]:


medals = {'Japan':41, 'Russia':56, 'South Korea':21, 'United States':121, 'Germany':42, 'China':70}
alphabetical = sorted(medals)

Given the same dictionary, medals, now sort by the medal count. Save the three countries with the highest medal count to the list, top_three.

In [0]:

medals = {'Japan':41, 'Russia':56, 'South Korea':21, 'United States':121, 'Germany':42, 'China':70}
top_three = []
for value in sorted(list(medals.values()),reverse = True)[:3]:
    for x in medals.keys():
        if medals[x] == value:
            top_three.append(x)

We have provided the dictionary groceries. You should return a list of its keys, but they should be sorted by their values, from highest to lowest. Save the new list as most_needed.

In [0]:

groceries = {'apples': 5, 'pasta': 3, 'carrots': 12, 'orange juice': 2, 'bananas': 8, 'popcorn': 1, 'salsa': 3, 'cereal': 4, 'coffee': 5, 'granola bars': 15, 'onions': 7, 'rice': 1, 'peanut butter': 2, 'spinach': 9}
most_needed = []
ks = groceries.keys()
most_needed = sorted(ks, key = lambda x:groceries[x],reverse = True)

Create a function called last_four that takes in an ID number and returns the last four digits. For example, the number 17573005 should return 3005. Then, use this function to sort the list of ids stored in the variable, ids, from lowest to highest. Save this sorted list in the variable, sorted_ids. Hint: Remember that only strings can be indexed, so conversions may be needed.

In [0]:

def last_four(x):
    return str(x)[-4:]

ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]
d = {}
for id in ids:

    d[id] = last_four(id)

ks = d.keys()
sorted_ids = sorted(ks,key = lambda x:d[x])

Sort the list ids by the last four digits of each id. Do this using lambda and not using a defined function. Save this sorted list in the variable sorted_id.

In [0]:
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]
d = {}
for id in ids:

    d[id] = str(id)[-4:]
ks = d.keys()
sorted_id = sorted(ks,key = lambda x:d[x])

Sort the following list by each elementâ€™s second letter a to z. Do so by using lambda. Assign the resulting value to the variable lambda_sort.

In [0]:

ex_lst = ['hi', 'how are you', 'bye', 'apple', 'zebra', 'dance']
d = {}
for ex in ex_lst:
    d[ex] = ex[1]
ks = d.keys()
lambda_sort = sorted(ks, key = lambda x:d[x])